.with-fixed-header {
  padding-top: 72px;

  & > .header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
  }

  & > .content {
    z-index: 1;
  }
}

.text-success {
  color: #92cf5c;
}

.text-error {
  color: #fa4c38;
}
